{% extends 'search/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block head %}
<h1>Поиск книг по сайту:</h1>
<h1><a href="https://enjoybooks.pw">Enjoybooks.pw</h1></a>

<form action="{% url 'searchs_results' %}" class="navbar-form navbar-left" method="get">
    <div class="input-group">
        <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-default">{% bootstrap_icon 'search' %}</button>
        </span>
    </div>
</form>
{% endblock %}

{% block page %}

{% endblock %}
{% block footer %}

{% endblock %}
