{% load static %}

{% block head %}
{% endblock %}
{% block content %}
    {% block page %}
    {% endblock page %}
    {% block sidebar %}
    {% endblock %}
{% endblock content %}
{% block footer %}
{% endblock %}

<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Book search{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya|Merriweather+Sans|Pacifico&display=swap" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet"></link>
  </head>
  <body>

    <footer class="footer">

    </footer>
  </body>
</html>
